
/* PRIMO ESERCIZIO */
.ex-1-square:hover {
  background-color: red;
}

.ex-1-square {
  transition: 3s;
}

/* SECONDO ESERCIZIO */

.ex-2-square:active {
  width: 1000px;
}

.ex-2-square {
  transition: 3s;
}

/* TERZO ESERCIZIO */

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-3-square {
  transition: 5s;
}

/* QUARTO ESERCIZIO */

.ex-4-square:hover {
  opacity: 0;
}

.ex-4-square {
  transition: 4s;
}

/* QUINTO ESERCIZIO */

.ex-5-square:hover {
  transform: scale(1.5);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* SESTO ESERCIZIO */

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* SETTIMO ESERCIZIO */

.ex-7-img:hover {
  filter: grayscale(70%) blur(2px);
}

.ex-7-img {
  transition: 3s;
}

/* OTTAVO ESERCIZIO */

.ex-8-img:hover {
  filter: sepia(0.5) drop-shadow(3px 3px red);
  border-radius: 20px;
}

/* NONO ESERCIZIO */

.ex-9-img:hover {
  filter: saturate(200%) blur(3px);
  border-radius:20px;
  transform: scale(0.5);
}

/* DECIMO ESERCIZIO */

@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}

.ex-10-icon {
  animation: spin 1s linear infinite;
}

/* ESERCIZIO 11 */

@keyframes rotating{
  0% {
    transform:rotate(0)
  }
  80% {
    transform:rotate(300deg)
  }
  100% {
    transform: rotate(0);
  }
}

.ex-11-icon:hover {
  animation: rotating 3s infinite ;
}

/* ESERCIZIO 12 */

@keyframes topWhite {
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}

.ex-12-top-white {
  animation: topWhite 2s infinite;
}

@keyframes botWhite {
  0% {
      right: 10%;
  }
  50% {
      right: calc(100% - 60px );
  }
  100% {
      right: 10%;
  }
}

.ex-12-bottom-white {
  animation: botWhite 2s infinite;
}

/* ESERCIZIO 13 */


